<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Loren ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur,
      quam vel feugiat consectetur, quam nunc commodo ligula, in pharetra felis
      neque eu lectus. Donec vel dui vel urna ultricies tristique vel ac neque.
      Sed faucibus, justo vel eleifend consectetur, metus dui consectetur metus,
      in efficitur neque lectus non arcu. Integer volutpat, felis ac rutrum
      feugiat, nunc nisi fermentum dolor, in congue erat nunc a purus. Nulla
      facilisi. Sed finibus, justo eu consectetur tristique, dui erat fermentum
      lectus, vitae sollicitudin orci neque ut neque. Sed vel ultricies ipsum.
      Sed vel urna ac neque sagittis posuere. Donec at enim vel arcu lobortis
      ullamcorper. Nulla facilisi. Nulla facilisi. Nulla facilisi.
    </p>

    <p>{{list}}</p>
  </body>
</html>
