<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Inside app.</h1>

    <!-- <p>{{lst}}</p> -->
    <!-- <p>{{str1}}</p>
    <p>{{str2}}</p>
    <p>{{str3}}</p> -->

    <!-- {% for num in lst %}
    <h1>{{num}}</h1>
    {% endfor %} -->

    <!-- {% for num in lst %}
    {% if num > 5 %}
    <h1>{{num}}</h1>
    {% elif num != 0 %}
    <h1>{{num}}</h1>
    {% else %}
    <h1>Zero</h1>
    {% endif %}

    {% endfor %} -->

    <!-- {% comment %}
    <h1>This is a comment</h1>
    {% endcomment %} -->

    <!-- dJango filters -->
    <!-- <p>{{str1 |length}}</p>
    <p>{{str1 |capfirst}}</p>
    <p>{{str2 |lower|capfirst}}</p>
    <p>{{str3 |capfirst}}</p>
    <p>{{str3 |truncatewords:2}}</p>
    <p>{{str2 |truncatechars:3}}</p> -->

    <img src="{%static 'image/image.png'%}" alt="" />
    <button onclick="spam()">smk</button>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptas
      ratione minus soluta, velit atque! Vero, quidem delectus. Voluptatibus,
      ex?
    </p>
    <script src="{%static 'js/app.js'%}"></script>
  </body>
</html>
